<!doctype html>
<html lang="en">
  
<!-- Mirrored from dashkit.goodthemes.co/sign-up-illustration.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Sep 2020 15:55:56 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
{{>signup/head}}
  <body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">

    <!-- CONTENT
    ================================================== -->
    {{{body}}}
     <!-- / .container -->

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
      {{>signup/scripts}}


  </body>

<!-- Mirrored from dashkit.goodthemes.co/sign-up-illustration.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Sep 2020 15:55:56 GMT -->
</html>