<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc." />

    <!-- Libs CSS -->
    <link rel="stylesheet" href="/dashboard/assets/fonts/feather/feather.css" />
    <link rel="stylesheet" href="/dashboard/assets/libs/flatpickr/dist/flatpickr.min.css" />
    <link rel="stylesheet" href="/dashboard/assets/libs/quill/dist/quill.core.css" />
    <link rel="stylesheet" href="/dashboard/assets/libs/highlightjs/styles/vs2015.css" />

    <!-- Map -->
    <link href="../api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel="stylesheet" />

    <!-- Theme CSS -->

    <link rel="stylesheet" href="/dashboard/assets/css/theme.min.css" id="stylesheetLight">
    <link rel="stylesheet" href="/dashboard/assets/css/theme-dark.min.css" id="stylesheetDark">

    <style>
        body {
            display: none;
        }
    </style>

    <!-- Title -->
    <title>Dashkit</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156446909-1"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag("js", new Date()); gtag("config", "UA-156446909-1");</script>

</head>